@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #ffffff10;
    --highlight: #ffffffa9;
    --color-primary: #ffffff;
    --color-secondary: #000000;
    --color-accent: #010c5b;
    --color-aqua: #02abcc;
    --color-dark-purple: #29208b;
    --color-accent-muted: #0f5ec5;
    --color-danger: #ef444459;

    --border: 2px solid #ffffff22;
    --padding-x: 3.76rem;
    --box-shadow:
        inset 0px 0px 10px var(--highlight),
        inset 0px 0px 10px var(--color-accent-muted),
        0px 0px 100px var(--color-accent-muted),
        0px 0px 100px var(--highlight);

}

body {
    font-family: 'Inter', sans-serif;
    background-image: linear-gradient(to top, var(--color-dark-purple), var(--color-secondary));

    color: var(--color-primary);
    height: 100vh;
    display: flex;
    overflow: hidden;
    padding-block: 1rem;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.gradient {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
    height: 200vh;
    width: 200vw;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    opacity: 0.05;
    position: absolute;
    animation: animateGrain 8s steps(10) infinite;
}

.line {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;

    path {
        filter:
            blur(15px) brightness(1.2);
    }
}

.content {
    padding-inline: var(--padding-x);
    display: flex;
    width: 100%;
    column-gap: 5rem;
    justify-content: space-between;
    align-items: center;
}

.entity-card-slider {
    flex-shrink: 0;
    width: calc(100vw - 35rem);
    position: relative;

    svg {
        width: 3.125rem;
        height: 3.125rem;
        position: absolute;
        background-color: var(--bg-color);
        backdrop-filter: blur(15px);
        border-radius: 50%;
        box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px,
            rgba(255, 255, 255, 0.3) 0px 30px 60px -30px,
            rgba(255, 255, 255, 0.35) 0px -2px 6px 0px inset;
        top: 50%;
        translate: 0 -50%;
        z-index: 1;

        &:hover {
            opacity: .8;
        }
    }

    #left {
        left: 0;
    }

    #right {
        right: 0;
    }

}

.container {
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    position: relative;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x proximity;
    scrollbar-width: 0;

    &.no-transition {
        scroll-behavior: auto;
    }

    &.dragging {
        scroll-behavior: auto;
        scroll-snap-type: none;

    }

    &::-webkit-scrollbar {
        display: none;
    }

    /* @media screen and (max-width: 900px) {
        grid-auto-columns: calc((100% / 4) - 0.6rem);
    }

    @media screen and (max-width: 600px) {
        grid-auto-columns: calc((100% / 2.5) - 0.6rem);
    }

    @media screen and (max-width: 480px) {
        grid-auto-columns: 100%;
    } */
}

.glass-filter,
.glass-overlay,
.glass-specular {
    position: absolute;
    inset: 0;
    border-radius: inherit;
}

.glass-filter {
    z-index: 1;
    backdrop-filter: blur(4px);
    filter: url(#glass-distortion) saturate(120%) brightness(1.15);
}

.glass-overlay {
    z-index: 2;
    background: var(--bg-color);
}

.glass-specular {
    z-index: 3;
    box-shadow: inset 1px 1px 10px var(--highlight);
}

.glass-form {
    position: relative;
    min-width: 28rem;
    height: 35rem;
    border-radius: 1rem;
    overflow: hidden;

    form {
        position: relative;
        z-index: 4;
        padding: 30px;
        height: 100%;
    }
}


@keyframes animateGrain {

    0%,
    100% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5%, -10%)
    }

    20% {
        transform: translate(-15%, -20%)
    }

    30% {
        transform: translate(-5%, -10%)
    }

    40% {
        transform: translate(-15%, -20%)
    }

    50% {
        transform: translate(-5%, -10%)
    }

    60% {
        transform: translate(-15%, -20%)
    }

    70% {
        transform: translate(-5%, -10%)
    }

    80% {
        transform: translate(-15%, -20%)
    }

    90% {
        transform: translate(-5%, -10%)
    }

    100% {
        transform: translate(-10%, -20%)
    }

}

.backdrop-blur-none {
    backdrop-filter: blur(0px);
}

.backdrop-blur-sm {
    backdrop-filter: blur(4px);
}

.backdrop-blur-md {
    backdrop-filter: blur(8px);
}

.backdrop-blur-lg {
    backdrop-filter: blur(12px);
}

.backdrop-blur-xl {
    backdrop-filter: blur(16px);
}

.backdrop-blur-2xl {
    backdrop-filter: blur(24px);
}

.backdrop-blur-3xl {
    backdrop-filter: blur(40px);
}

.liquid-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}