@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('./navbar.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #ffffff10;
    --highlight: #ffffffa9;
    --color-primary: #ffffff;
    --color-secondary: #000000;
    --color-accent: #010c5b;
    --color-aqua: #02abcc;
    --color-dark-purple: #29208b;
    --color-accent-muted: #0f5ec5;
    --color-danger: #ef444459;

    --border: 2px solid #ffffff22;
    --padding-x: 3.76rem;
    --box-shadow:
        inset 0px 0px 10px var(--highlight),
        inset 0px 0px 10px var(--color-accent-muted),
        0px 0px 100px var(--color-accent-muted),
        0px 0px 100px var(--highlight);

    --gap: 2rem;
    --radius: 50px;
    --transition-duration: 0.6s;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --nav-width: clamp(22rem, 65vw, 28.5rem);
    --navbar-height: 5rem;
}

a {
    color: var(--color-light);
    text-decoration: none;
    font-weight: 300;
    white-space: nowrap;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--color-primary);
    height: 100vh;
    display: flex;
    overflow: hidden;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.info-block {
    width: 100vw;
    min-height: 50vh;
    overflow-y: scroll;
    background-color: var(--bg-color);
    backdrop-filter: blur(24px);
    clip-path: circle(0% at 0% 0%);
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    position: absolute;
    z-index: 35;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 2rem;

    &.active {
        clip-path: circle(100% at 50% 50%);
    }

    table-sheme {
        transform: translateY(0);
        opacity: 1;
        filter: blur(0);

        &.disactivated {
            transform: translateY(100%);
            opacity: .3;
            filter: blur(10px);
        }
    }
}



.gradient {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    pointer-events: none;
    opacity: 0.05;
    position: absolute;
    animation: animateGrain 8s steps(10) infinite;
}

.line {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;

    path {
        filter:
            blur(15px) brightness(1.2);
    }
}

.content {
    width: 100vw;
    padding-top: var(--navbar-height);
    overflow-x: hidden;
}

.entity-card-slider {
    width: 100%;

    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    scrollbar-color: rgba(255, 255, 255, 0.4) transparent;

    &::-webkit-scrollbar {
        width: 10px;
        transition: .3s;
        display: none;
    }

    &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.05);
        border-radius: 10px;
        display: none;

    }

    &::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom, var(--color-aqua), var(--color-accent-muted));
        border-radius: 10px;
        border: 2px solid rgba(255, 255, 255, 0.1);
        display: none;
    }

    header {
        width: max-content;
        min-width: 100%;
        border-radius: 0.8rem;
        border: var(--border);
        position: sticky;
        z-index: 2;
        display: grid;
        grid-auto-flow: column;
        padding: 1rem;
        grid-template-columns: var(--col-widths);
        background-color: #e0e0e022;
        backdrop-filter: blur(25px);
        height: var(--navbar-height);
        place-items: center;
        font-size: 1.25rem;
        font-weight: 600;
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);

        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &.disactivated {
            opacity: 0;
            filter: blur(10px);
            transform: translateY(-100%);
        }
    }

    .container {
        display: flex;
        column-gap: 2rem;
        transition-duration: 1s;
        transform: translateX(0);
        align-self: flex-end;

        &.disactivated {
            transform: translateX(120%);
        }

    }

    .btn {
        align-self: flex-end;

        &.disactivated {
            transform: translateX(20vw);
        }
    }
}

.glass-filter,
.glass-overlay,
.glass-specular {
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
}

.glass-filter {
    z-index: 2;
    backdrop-filter: blur(4px);
    filter: url(#glass-distortion) saturate(120%) brightness(1.15);
}

.glass-overlay {
    z-index: 3;
    background: var(--bg-color);
}

.glass-specular {
    z-index: 4;
    box-shadow: inset 10px 1px 10px var(--highlight);
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.search-list {
    margin-top: .3rem;
    min-width: 30vw;
    border-radius: .8rem;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 100;
    padding: 1rem;
    transform: translateX(0);
    transition: .6s;

    &.disactivated {
        transform: translateX(100%);
    }

    ul {
        display: flex;
        flex-direction: column;
        row-gap: .3rem;
        list-style: none;
        position: relative;
        z-index: 4;

    }

    li {
        height: 3rem;
        background-color: #e0e8ef88;
        backdrop-filter: blur(14px);
        border-radius: .8rem;
        padding: 1rem;
        transition: .3s;
        animation: 1s ease-in-out fadeInUp;
        box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);

        &:hover {
            color: #516d91;
            background-color: #E5EDF5;
            box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
        }

        &:active {
            box-shadow: none;
        }

        &.disactivated {
            opacity: 1;
        }
    }
}

.glass-form {
    position: absolute;
    min-width: var(--form-width, 26rem);
    height: 100vh;
    border-radius: 1rem;
    overflow: hidden;
    align-items: center;
    transition-duration: .8s;
    z-index: 10;
    top: 0;
    left: 0;
    transform: translateX(0%);

    &.active {
        transform: translateX(-100%);
    }

    .glass-filter {
        z-index: 11;
    }

    .glass-overlay {
        z-index: 12;
    }

    .glass-specular {
        z-index: 13;
    }

    form {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 14;
        padding: 30px;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: thin;
        /* Firefox */
        scrollbar-color: rgba(255, 255, 255, 0.4) transparent;
        box-shadow: var(--box-shadow);

        .input-wrapper {
            display: flex;
            flex-direction: column;
            transition: all 0.4s var(--transition-timing-function);
        }

        &::-webkit-scrollbar {
            width: 10px;
            transition: .3s;
            display: none;
        }

        &::-webkit-scrollbar-track {
            background: rgba(255, 255, 255, 0.05);
            border-radius: 10px;
            display: none;

        }

        &::-webkit-scrollbar-thumb {
            background: linear-gradient(to bottom, var(--color-aqua), var(--color-accent-muted));
            border-radius: 10px;
            border: 2px solid rgba(255, 255, 255, 0.1);
            display: none;
        }

        form-group {
            position: relative;
            z-index: -10;
            transform: translateX(0);
            filter: blur(0);

            &.disactivated {
                transform: translateX(-100%);
                opacity: .2;
                filter: blur(10px);
            }

            &.activated {
                transform: translateX(100%);
                opacity: 0;
                filter: blur(10px);
            }
        }


        .btn-wrapper {
            padding-top: 1rem;
            display: flex;
            justify-content: center;
            column-gap: 0.8rem;

            button {
                height: 2.5rem;
                aspect-ratio: 1;
                background-color: var(--bg-color);
                backdrop-filter: blur(10px);
                border-radius: 50%;
                color: var(--color-primary);
                box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                transition: .3s;

                &:hover {
                    background-color: var(--highlight);
                }
            }

            &.disactivated {
                transform: translateX(-100%);
                opacity: .2;
                filter: blur(10px);
            }

            &.activated {
                transform: translateX(100%);
                opacity: 0;
                filter: blur(10px);
            }
        }
    }


}

.btn {
    margin-top: 0.5rem;
    background-color: var(--highlight);
    border-radius: 50px;
    box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
    color: var(--color-accent);
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.5rem;
    border: 2px solid rgb(206, 206, 206);

    &.disactivated {
        transform: translateX(-100%);
        opacity: .2;
        filter: blur(10px);
    }

    &.activated {
        transform: translateX(100%);
        opacity: 0;
        filter: blur(10px);
    }
}

entity-card {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);

    &.disactivated {
        opacity: .3;
        filter: blur(10px);
    }
}

entity-grid-items {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);

    &.disactivated {
        transform: translateY(100%);
        opacity: .3;
        filter: blur(10px);
    }
}




.hidden {
    display: none;
}

.btn-transparent {
    padding-block: 0.5rem;
    padding-inline: 1rem;
    color: var(--highlight);
    background-color: var(--bg-color);
}

.btn:hover {
    box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}

.btn:focus {
    outline: none;
    box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}

.animation {
    transition-delay: calc(.1s * var(--i));
    transition-duration: 0.8s;
}

@keyframes animateGrain {

    0%,
    100% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5%, -10%)
    }

    20% {
        transform: translate(-15%, -20%)
    }

    30% {
        transform: translate(-5%, -10%)
    }

    40% {
        transform: translate(-15%, -20%)
    }

    50% {
        transform: translate(-5%, -10%)
    }

    60% {
        transform: translate(-15%, -20%)
    }

    70% {
        transform: translate(-5%, -10%)
    }

    80% {
        transform: translate(-15%, -20%)
    }

    90% {
        transform: translate(-5%, -10%)
    }

    100% {
        transform: translate(-10%, -20%)
    }

}

.backdrop-blur-none {
    backdrop-filter: blur(0px);
}

.backdrop-blur-sm {
    backdrop-filter: blur(4px);
}

.backdrop-blur-md {
    backdrop-filter: blur(8px);
}

.backdrop-blur-lg {
    backdrop-filter: blur(12px);
}

.backdrop-blur-xl {
    backdrop-filter: blur(16px);
}

.backdrop-blur-2xl {
    backdrop-filter: blur(24px);
}

.backdrop-blur-3xl {
    backdrop-filter: blur(40px);
}

.liquid-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}