* {
    margin: 0;
    box-sizing: border-box;
}

:host {
    border-radius: 0.8rem;
    display: flex;
    border: var(--border);
    row-gap: 0.8rem;
    position: relative;
    backdrop-filter: blur(15px);
    background-color: var(--bg-color);
    justify-content: center;
    align-items: center;
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-duration: .8s;
    width: auto;
}

:host(.disactivated) {
    transform: translateX(100%);
    opacity: .4;
    filter: blur(10px);
}

ul {
    width: 100%;
    position: relative;
    z-index: 4;
    list-style: none;
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(6.6rem, 10vw));
    column-gap: 0.8rem;
    grid-auto-flow: column;
    align-items: center;
}

li {
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    align-items: left;
    font-size: 1.2rem;
    text-align: left;
    white-space: nowrap;
}