* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:host {
    width: 350px;
    padding: 1rem !important;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    border: var(--border);
    row-gap: 0.8rem;
    position: relative;
    backdrop-filter: blur(15px);
    background-color: var(--bg-color);
    scroll-snap-align: center;
}

ul {
    position: relative;
    z-index: 4;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-block: 0.3rem;
    justify-content: center;
    align-items: flex-start;
}

li {
    font-size: 1.2rem;
}

.btn-wrapper {
    z-index: 4;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.btn {
    width: 100%;
    padding: 0.5rem;
    font-weight: 300;
    color: var(--color-primary);
    border-radius: .8rem;
    overflow: hidden;
    position: relative;
    outline: none;
    background-color: transparent;
    transition-duration: .6s;
    text-align: center;
    font-size: 1.2rem;

    &::before {
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(120deg, transparent, var(--color), transparent);
        transform: translateX(-100%);
        transition: 0.6s;
        position: absolute;
    }

    &:hover {
        background-color: transparent;
        box-shadow: 0 0 20px 5px var(--highlight);
    }

    &:hover::before {
        transform: translateX(100%);
    }

    &.submit {
        --color: var(--color-dark-purple);
        border: 2px solid var(--color-dark-purple);
        box-shadow: 0 4px 15px var(--color-dark-purple);
    }

    &.danger {
        --color: var(--color-danger);
        border: 2px solid var(--color-danger);
        box-shadow: 0 4px 15px var(--color-danger);
    }
}