* {
    margin: 0;
    box-sizing: border-box;
}

:host {
    border-radius: 0.8rem;
    display: flex;
    border: var(--border);
    row-gap: 0.8rem;
    position: relative;
    backdrop-filter: blur(15px);
    background-color: var(--bg-color);
    justify-content: center;
    align-items: center;
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-duration: .8s;
}

:host(.disactivated) {
    transform: translateX(100%);
    opacity: .4;
    filter: blur(10px);
}

ul {
    width: 100%;
    display: flex;
    position: relative;
    padding: 0;
    list-style: none;
    gap: 0.8rem 1.2rem;
    padding: 1rem;
    margin: 0;
    justify-content: space-between;
}

li {
    flex: 1 1 auto; 
    min-width: 80px;
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    text-align: left;
    font-size: 1.2rem;

}

