input {
    background-color: transparent;
    outline: none;
    border: none;
    transition: .2s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:host {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding-block: 0.3rem;
}

label {
    font-size: 1rem;
}

.block {
    width: 100%;
    position: relative;
    z-index: 2;

    svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        right: 15px;
        height: 1.25rem;
        transition: .3s;
    }

    input {
        width: 100%;
        background-color: var(--bg-color);
        backdrop-filter: blur(10px);
        border-radius: .8rem;
        padding: .5rem;
        font-size: 1rem;
        color: var(--color-primary);
        font-weight: 300;
        border: var(--border);
        --cl: color-mix(in srgb, var(--color-accent) 30%, transparent);

        &:valid,
        &:focus {
            border: 2px solid var(--cl);
            box-shadow: var(--box-shadow);
        }

        &:focus~svg {
            top: 30%;
        }
    }
}