input {
    background-color: transparent;
    outline: none;
    border: none;
}

:host {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding-block: 0.3rem;
}

label {
    font-size: 1rem;
}

.block {
    width: 100%;
    position: relative;
    z-index: 2;
}

.block input {
    width: 85%;
    border-radius: .4rem;
    padding: .5rem;
    font-size: 1rem;
    color: var(--color-accent);
    font-weight: 300;
    border: 1px solid var(--color-metal);
    transition: .2s;
    box-shadow: var(--box-shadow);

}

.block input:valid,
.block input:focus {
    border: 1px solid var(--color-accent);
}

.block input:focus~i {
    transform: scale(80%) rotateX(30deg);
    top: 30%;
    text-shadow: 0px 0px 1.2rem var(--color-dark-blue), 0px 0px 1.25rem var(--color-light-blue);
}

.block i {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    z-index: 3;
    right: 1rem;
    font-size: 1.5rem;
    transition: .2s;
    color: var(--color-light-blue);
}