input {
    background-color: transparent;
    outline: none;
    border: none;
    transition: .2s;

    &[type="date"]::-webkit-calendar-picker-indicator {
        position: absolute;
        right: 1rem;
    }

    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:host {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding-block: 0.3rem;
    --cl: color-mix(in srgb, var(--color-accent) 30%, transparent);
}

label {
    font-size: 1rem;
}

.block {
    width: 100%;
    display: flex;
    position: relative;
    z-index: 2;

    svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        right: 1rem;
        height: 1.25rem;
        transition: .3s;
    }

    input {
        width: 100%;
        background-color: var(--bg-color);
        backdrop-filter: blur(10px);
        border-radius: .8rem;
        padding: .5rem;
        font-size: 1rem;
        color: var(--color-primary);
        font-weight: 300;
        border: var(--border);

        &:valid,
        &:focus {
            border: 2px solid var(--cl);
            box-shadow: var(--box-shadow);
        }

        &:focus~svg {
            top: 30%;
        }
    }
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    justify-content: center;
    height: 2.5rem;
    background-color: var(--bg-color);
    backdrop-filter: blur(10px);
    border-radius: .8rem;
    border: 2px solid var(--cl);
    box-shadow: var(--box-shadow);
}